* {
  padding: 0;
  margin: 0;
}

body {
  background-color: beige;
  font-family: "Lato", sans-serif;
}

.content {
  text-align: center;
  font-size: 18px;
  padding: 15px;
  margin: 15px auto;
  border-top-left-radius: 0.9em;
  border-top-right-radius: 0.9em;
}

.content-dark {
  background-color: #272b30;
  color: #c8c8c8;
}

.content-white {
  background-color: white;
  color: black;
}

.title-container {
  text-align: center;
  margin-top: 15%;
}

.title {
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 8px;
  position: static;
  border-radius: 8px;
  padding: 10px;
  color: white;
  width: 100%;
}

.image-one {
  background-image: url("../img/colorful.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

.btn-container {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
}

.menu-btn {
  font-size: 37px;
  border-radius: 25px;
  border-style: solid;
  border-color: white;
  color: white;
  padding: 10px 20px 10px 20px;
  /* margin-top: 80%; */
  text-decoration: none;
  style: none;
  transition-duration: 0.4s;
  text-transform: uppercase;
}

.menu-btn:hover {
  background-color: white;
  color: black;
}

a {
  text-decoration: none !important;
  color: white;
}

a:hover {
  color: black;
  transition-duration: 0.4s;
}
